/* Eerste section */
main section:first-of-type {
  max-width: 40rem;
  margin-inline: auto;
  padding-top: 2rem;
  position: relative;
}

/* Product foto */
main section:first-of-type img:first-of-type {
  width: 96%;
  max-width: 40rem;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: var(--color-carousel);
}

main section p,
main section h4,
main section ul,
main section li,
main section button {
  max-width: 96%;
  margin: 0.5rem 0 0 2%;
  text-align: left;
  display: block;
}

main section:nth-of-type(1) h4 {
  padding: 1.5rem 0 0.5rem 0;
  text-transform: none;
}

main section:nth-of-type(2) h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3rem;
}

main section ul {
 text-transform: none;
 margin: 0.5rem 0;
}

main section h2 {
  max-width: 70%;
  font-size: 2.5rem; 
  line-height: 0.75; 
  font-weight: 400;
  margin: 1rem 0 0 2%;
  text-align: left;
  display: block;
}

/* Barcode */
main section img:nth-of-type(2) {
  width: 160px;
  height: 45px;
  display: block;
  margin-top: 0.5rem;
  margin-left: 2%;
}


main section p {
  padding: 0.5rem;
  padding-left: 0;
  text-transform: none;
}

main section p:nth-of-type(3),
main section p:nth-of-type(4) {
    font-size: 0.8rem;
}

main section p:nth-of-type(4) {
    padding-bottom: 0;
}

main section p:has(> button) {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--color-text);
  padding: 0.5rem 1rem;
}

main svg {
  color: var(--color-text);
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.3rem;
}

/* Preorder knop */
main section > button:last-of-type {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  padding: 1.1rem 0;
  border: 1px solid var(--color-text);
  background: none;
  color: var(--color-text);
  text-align: center;
}

main section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  text-align: center;
}

main section:nth-of-type(2) li p:first-of-type:hover {
    color: var(--color-background);
    background-color: var(--color-text);
}

main section:nth-of-type(2) li img {
  width: 100%;
  height: auto;
  display: block;
  background-color: var(--color-grid);
}

main section:nth-of-type(2) li p {
  text-transform: uppercase;
  margin: 0.3rem 0;
  text-align: center;
}

@media (width > 61.9em) {
  main > section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    max-width: calc(100% - 4rem);
    margin-inline: auto;
    padding-top: 5.3rem;
  }

  main > section:first-of-type > * {
  margin: 0;
  padding: 0;
}

  main > section:first-of-type > img:first-of-type {
    grid-column: 1;
    grid-row: 1 / 12;
    max-width: none;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
  }

  main > section:first-of-type > h2 {
    font-size: 3rem;
    max-width: 30rem;
    margin-bottom: -2.2rem;
  }

  main > section:first-of-type > p:nth-of-type(1) {
    font-size: 1.3rem;
    grid-column: 2;
    grid-row: 3;
  }

  main > section:first-of-type > p:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
  }

  main > section:first-of-type > p:nth-of-type(3) {
    grid-column: 2;
    grid-row: 5;
  }

main > section:first-of-type > p:nth-of-type(5) {
  position: relative;
  display: inline-block;
  width: 12rem;
  text-align: center;
  border: 1px solid var(--color-text);
  padding: 0.5rem 0;
  box-sizing: border-box;
}

main > section:first-of-type > p:nth-of-type(5) {
  font-size: 1rem;
}

main > section:first-of-type > p:nth-of-type(5) > button:first-of-type {
  position: absolute;
  right: 15%;
  top: 30%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  display: inline-block;
  color: var(--color-text);
}

main > section:first-of-type > p:nth-of-type(5) > button:last-of-type {
  position: absolute;
  left: 15%;
  top: 30%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  display: inline-block;
  color: var(--color-text);
}

  main > section:first-of-type > button:last-of-type {
    grid-column: 2;
    grid-row: 8;
    justify-self: start;
    width: 20rem;
    padding: 1.1rem 0;
  }

  main > section:first-of-type > h4 {
    grid-column: 2;
    grid-row: 9;
  }

  main > section:first-of-type > ul {
    grid-column: 2;
    grid-row: 10;
  }

  main > section:first-of-type > h2,
  main > section:first-of-type > button:last-of-type {
    word-wrap: break-word;
    white-space: normal;
  }

  main section:nth-of-type(2) ul {
    padding: 5%;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 2rem 0;
  }

  main section:nth-of-type(2) li img {
    width: 100%;
    height: auto;
  }

  main section:nth-of-type(2) li p {
    text-align: center;
    margin-top: 0.5rem;
  }
}