/* Main section */
main section:first-of-type {
  max-width: 40rem;
  margin-inline: auto;
  padding-top: 2rem;
  position: relative;
}

/* Main image */
main section:first-of-type img:first-of-type {
  width: 96%;
  max-width: 40rem;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: var(--color-carousel);
}

main section p,
main section h4,
main section ul,
main section li,
main section button {
  max-width: 96%;
  margin: 0.5rem 0 0 2%;
  text-align: left;
  display: block;
}

main section:nth-of-type(1) h4 {
  padding: 1.5rem 0 0.5rem 0;
  text-transform: none;
}

main section:nth-of-type(2) h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3rem;
}

main section ul {
 text-transform: none;
 margin: 0.5rem 0;
}

main section h2 {
  max-width: 70%;
  font-size: 2.5rem; 
  line-height: 0.75; 
  font-weight: 400;
  margin: 1rem 0 0 2%;
  text-align: left;
  display: block;
}

/* Barcode */
main section img:nth-of-type(2) {
  width: 160px;
  height: 45px;
  display: block;
  margin-top: 0.5rem;
  margin-left: 2%;
}


main section p {
  padding: 0.5rem;
  padding-left: 0;
  text-transform: none;
}

main section p:nth-of-type(3),
main section p:nth-of-type(4) {
    font-size: 0.8rem;
}

main section p:nth-of-type(4) {
    padding-bottom: 0;
}

/* Teller */
main section p:has(> button) {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--color-text);
  padding: 0.5rem 1rem;
}

main svg {
  color: var(--color-text);
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.3rem;
}

/* PRE-ORDER NOW knop */
main section > button:last-of-type {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  max-width: 30rem;
  padding: 1.1rem 0;
  border: 1px solid var(--color-text);
  background: none;
  color: var(--color-text);
  text-align: center;
}

/* Second section grid */
main section:nth-of-type(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1rem;                             /* space between items */
  list-style: none;                      /* remove default bullets */
  padding: 0;
  margin: 1rem 0;
  text-align: center;
}

main section:nth-of-type(2) li p:first-of-type:hover {
    color: var(--color-background);
    background-color: var(--color-text);
}

main section:nth-of-type(2) li img {
  width: 100%;
  height: auto;
  display: block;
  background-color: var(--color-grid);
}

main section:nth-of-type(2) li p {
  text-transform: uppercase;
  margin: 0.3rem 0;
  text-align: center;
}


@media (width > 61.9em) {
  main > section:first-of-type {
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 2rem;
    align-items: start;
    max-width: calc(100% - 4rem);
    margin-inline: auto;
    padding-top: 5.3rem;
  }

  /* Afbeelding product */
  main > section:first-of-type > :first-child {
    grid-column: 1;
    grid-row: 1 / span 10; /* covers left column fully */
    width: 100%;
    height: auto;
    display: block;
  }
}