/* font face inzetten ipv google fonts */

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:white;
	--color-background: black;
  --icon-size: 28px;
  --icon-stroke: 2;
}




/****************/
/* STYLING */
/****************/

body {
	margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  text-transform: uppercase;
  font-family: 'Segoe UI', Helvetica, sans-serif;
}

.overlay {
  position: absolute;
  left: 0;
  top: 3.2rem;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.5;
  display: none;
}

.overlay[data-open]{
  display: block;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 0 2em;
  margin: 0 auto;
}

li {
  list-style: none;
}



svg {
  width: var(--icon-size);
  height: var(--icon-size);
  stroke-width: var(--icon-stroke);
}

h1 {
  margin-inline: auto;
}

h1 img {
  display: block;
  margin-left: 2.47em;
  width: clamp( 5em, 45.6vw, 24.25em);
}

h2 {
  font-size: 3em;
  line-height: .75;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
}

nav a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

/* Zoeken */
button:nth-of-type(1) {
  background-color: transparent;
  color:  white;
  border: none;
  order:1;
}

button,
nav:nth-of-type(2) a svg {
  cursor: pointer;
}

button:hover,
nav:nth-of-type(2) a:hover svg {
  transform: scale(1.05);
}

/* Hamburger menu */
button:nth-of-type(2) {
  order:-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -1.9%;
}

button:nth-of-type(2) span {
  display: block;
  width: 26px;
  height: 2px;
  background: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

nav:nth-of-type(1) a:hover {
  background-color: #0f0f0f;
}

nav:nth-of-type(1)[data-open] {
  translate: 0;
}

nav:nth-of-type(1) ul li a {
  display: block;
  padding: 12px 20px 12px 2rem;
}



/* Menu Algemeen */
nav:nth-of-type(1) {
  position: fixed;
  top: 3.2em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 53%;
  background-color: black;
  translate: -100%;;
  transition: translate 0.7s ease;
  z-index: 999;
}


nav:nth-of-type(1) ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  margin: 0;
  padding: 0;
}


nav:nth-of-type(1) p {
  margin-top: auto;
  padding-left: 2rem;
  text-transform: none;
  font-size: 0.9rem;
}

nav:nth-of-type(1) p:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Service menu */
nav:nth-of-type(2) {
  justify-self:flex-end;
  align-self:center;
  order:2;
}

nav:nth-of-type(2) ul {
  padding: .18em;
  display:flex;
  gap: .5em;
}

button:nth-of-type(2)[data-open] span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

button:nth-of-type(2)[data-open] span:nth-child(2) {
  opacity: 0;
}

button:nth-of-type(2)[data-open] span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* CODE ANIMATIE DRUPPELS VAN SHOP.BMTHOFFICIAL.COM */
@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}





/* CODE UMBRELLA VAN SHOP.BMTHOFFICIAL.COM */
#Umbrella {
padding-top: 1.5em;
width: 100%;
max-width: 440px;
height: auto;
margin: 0 auto;
display: block
}

#Raindrops path {
  animation: fall 2.5s ease-in infinite;
}

.drop-one {
  animation-delay: 0s;
}
.drop-two {
  animation-delay: 0.5s !important;
}
.drop-three {
  animation-delay: 0s !important;
}
.drop-four {
  animation-delay: 0.75s !important;
}



/* RESPONSIVE BIG SCREEN */
@media ( width > 46.9em) {
  header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
  }
  
  nav:nth-of-type(1) {
  order: 1;
  grid-column:span 3;
  }

  nav:nth-of-type(1) ul {
  display:flex;
  justify-content: space-around;
  }

  nav:nth-of-type(1) li:nth-of-type(6) {
  display: none;
  }

  .overlay[data-open]{
  display: none;
}

  nav:nth-of-type(1)[data-open]{
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    height: 60px;
    padding: 0 2em;
  }

  button:nth-of-type(2) {
    display: none;
  }

  h1 img {
  max-width: 500px;
  max-height: 47px;
}

button:nth-of-type(1) {
  background-color: transparent;
  color:  white;
  border: none;
  order:-1;
}

/* Service menu */
h1 img {
  justify-items: center;
  margin: auto;
}

nav a {
  font-size: 1.3rem;
}

}
